@{
    ViewData["Title"] = "Sobre";
}
<div class="title">@ViewData["Title"]</div>
<hr />

<h4>Especificaçõs:</h4>
<ul>
    <li>Esta Aplicação utiliza <strong>web api para comunicação entre front e backend</strong>;</li>
    <li>Framework de frontend utilizado: <strong>Bootstrap</strong>;</li>
    <li>Sistema desenvolvido na plataforma .NET: <strong>Asp.Net Core MVC</strong>;</li>
    <li>Persistência de dados realizada através do <strong>Entity Framework Core</strong> + <strong>Banco de Dados SQL Server</strong>.</li>
</ul>

<hr />
<p>Desenvolvido por Francisco Santana.</p>
<p>Data da última atualização: 17/03/2019</p>