@model Livraria.WebApplication.Models.GeneroViewModel

@{
    ViewData["Title"] = "Editar Gênero";
}

<div class="title">@ViewData["Title"]</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Descricao" class="control-label required"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"> Salvar</i></button>
                <a asp-action="Index" class="btn btn-secondary btn-sm"><i class="fa fa-chevron-left "></i> Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
